/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Splash Screen */
#splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
}

#splash-screen h1 {
    font-size: 3em;
    color: crimson;
}

#splash-screen p {
    font-size: 1.5em;
    color: black;
}

/* Menu de navegación */
#menu ul {
    display: flex;
    justify-content: space-around;
    background-color: #c2185b;
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

#menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#menu ul li a:hover {
    text-decoration: underline;
}

/* Filtros */
#filters {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

#filters input, #filters select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
}

/* Perfiles */
#profiles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.profile-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.profile-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #c2185b;
}
